@model CarRentalApp.ViewModels.ManufaCarViewModel

<div style="padding-top:80px"></div>

<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="card" style="width: 58rem;">
       
       
    <div class="card-body">
        <h5 class="card-title">إضافة سيارة</h5>
       
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ManufactorerId" class="control-label"></label>
                        <select asp-for="ManufactorerId" class="form-control" asp-items="@(new SelectList(Model.Manufactorers,"ManufactorerId","ManufactorNameAr"))"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ModeelNameAr" class="control-label"></label>
                        <input asp-for="ModeelNameAr" class="form-control" />
                        <span asp-validation-for="ModeelNameAr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModeelNameEn" class="control-label"></label>
                        <input asp-for="ModeelNameEn" class="form-control" />
                        <span asp-validation-for="ModeelNameEn" class="text-danger"></span>
                    </div>
                        <div style="padding-top:10px"></div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-warning">عودة إلى السابق</a>
                    </div>
                </form>
            </div>
        </div>

        <div>
           
        </div>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
