@model CarRentalApp.ViewModels.ManufaCarViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ManufaCarViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManufactorerId" class="control-label"></label>
                <select asp-for="ManufactorerId" class="form-control" asp-items="@(new SelectList(Model.Manufactorers,"ManufactorerId","ManufactorNameAr"))"></select>
            </div>
           
            <div class="form-group">
                <label asp-for="ModeelNameAr" class="control-label"></label>
                <input asp-for="ModeelNameAr" class="form-control" />
                <span asp-validation-for="ModeelNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeelNameEn" class="control-label"></label>
                <input asp-for="ModeelNameEn" class="form-control" />
                <span asp-validation-for="ModeelNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
