@model CarRentalApp.ViewModels.AccidentClaimViewModel

<h1>Accident Details</h1>
<table>
    <tr>
        <th>ID</th>
        <td>@Model.carClaimId</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.carClaimNumber</td>

    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.ChassisNumber</td>

    </tr>
</table>
