@model CarRentalApp.Models.Manufactorer

@{
    ViewData["Title"] = "Create";
}



<div style="padding-top:80px"></div>

<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="card" style="width: 58rem;">


        <div class="card-body">
            <h5 class="card-title">إضافة  شركة</h5>
            <div style="padding-top:20px"></div>

<form asp-action="Create">

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManufactorNameAr" class="control-label"></label>
                <input asp-for="ManufactorNameAr" class="form-control" />
                <span asp-validation-for="ManufactorNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactorNameEn" class="control-label"></label>
                <input asp-for="ManufactorNameEn" class="form-control" />
                <span asp-validation-for="ManufactorNameEn" class="text-danger"></span>
            </div>
                            <div style="padding-top:20px"></div>

            <div class="form-group">
                <input type="submit" value="إضافة" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-warning">عودة إلى السابق</a>
            </div>
        </form>
    </div>
</div>

<div>
   </div>
   </form>
</div></div></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
