@model CarRentalApp.ViewModels.AccidentCarViewModel

@{
    ViewData["Title"] = "Create";
}

<div style="padding-top:80px"></div>
<form asp-action="Create" enctype="multipart/form-data">
<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="card" style="width: 58rem;">


        <div class="card-body">
                <h5 style="color:red" class="card-title"> بيانات تفاصيل الحادث</h5>
            <div style="padding-top:20px"></div>
           
            <div class="row">
                    
                    <input hidden asp-for="CompanyId" />
                    <input hidden asp-for="CarId" />
                    <input hidden asp-for="BranchId" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="AccidentNumber" class="control-label"></label>
                            <input asp-for="AccidentNumber" class="form-control" />
                            <span asp-validation-for="AccidentNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Percentage" class="control-label"></label>
                            <input asp-for="Percentage" class="form-control" />
                            <span asp-validation-for="Percentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="TrafficreportId" class="control-label"></label>
                            <select asp-for="TrafficreportId" class="form-control" asp-items="@(new SelectList(Model.trafficreports,"TrafficreportId","TrafficreportName"))"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="AccidentDate" class="control-label"></label>
                            <input asp-for="AccidentDate" class="form-control" type="date" />
                            <span asp-validation-for="AccidentDate" class="text-danger"></span>
                        </div>


                    </div>
               
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
</div>
</div>
</div>
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="card" style="width: 58rem;">


            <div class="card-body">
                <h5 style="color:red" class="card-title">بيانات السائق</h5>
                <div style="padding-top:20px"></div>
                <div class="row">

                   
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriverName" class="control-label"></label>
                            <input asp-for="DriverName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriverIdentity" class="control-label"></label>
                            <input asp-for="DriverIdentity" class="form-control" />
                            <span asp-validation-for="DriverIdentity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriveLicence" class="control-label"></label>
                            <input asp-for="DriveLicence" class="form-control" />
                            <span asp-validation-for="DriveLicence" class="text-danger"></span>
                        </div>
                    </div>
                   
                </div>
                </div>
                </div>
                </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="card" style="width: 58rem;">
                 <div class="card-body">
                <h5 style="color:red" class="card-title"> بيانات الطرف الثالث</h5>
                <div style="padding-top:20px"></div>
                <div class="row">

                    <input hidden asp-for="CarId" />
                    <input hidden asp-for="CompanyId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriverNameOther" class="control-label"></label>
                            <input asp-for="DriverNameOther" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriveLicenceOther" class="control-label"></label>
                            <input asp-for="DriveLicenceOther" class="form-control" />
                            <span asp-validation-for="DriveLicenceOther" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriverIdentityOther" class="control-label"></label>
                            <input asp-for="DriverIdentityOther" class="form-control" />
                            <span asp-validation-for="DriverIdentityOther" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DriverCompanyOther" class="control-label"></label>
                            <input asp-for="DriverCompanyOther" class="form-control" />
                            <span asp-validation-for="DriverCompanyOther" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="padding-top:20px"></div>
                 
                    </div>
               
            <div class="row">
                <div class="col-md-6">
                    <label for="file1">الملفات المرفقة</label>
                    <div class="custom-file">

                        <input type="file" name="files" multiple class="form-control custom-file-input" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="file2">صور الحادث</label>
                    <div class="custom-file">

                        <input type="file" name="filess" multiple class="form-control custom-file-input" />
                    </div>
                </div>
            </div>
                <div style="padding-top:10px"></div>
                <div class="form-group">
                    <input type="submit" value="إضافة" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning"> عودة إلى السابق</a>
                </div>
            </div>
        </div>
    </div>
                
                    </form>
                

           
       
    

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}
